.arcana-wrapper {
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--oc-gray-7);
  }
  &.active {
    background-color: var(--oc-blue-9);
  }
}

.arcana-item-wrapper {
  height: 3rem;
}

.arcana {
  min-width: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:after {
    content: '';
    display: block;
    padding-bottom: calc(17100% / 120);
  }

  // ! cspell: disable
  &.IV {
    background-image: url('../public/arcanas/Sprite-Awake.webp');
  }
  &.V {
    background-image: url('../public/arcanas/Sprite-Chaos_in_the_Dark_Night.webp');
  }
  &.VI {
    background-image: url('../public/arcanas/Sprite-Sarabande_of_Healing.webp');
  }
  &.VII {
    background-image: url('../public/arcanas/Sprite-Iron_Blue_Will.webp');
  }
  &.XI {
    background-image: url('../public/arcanas/Sprite-Waltz_of_Pearls.webp');
  }
  &.XV {
    background-image: url('../public/arcanas/Sprite-Disco_of_Gold.webp');
  }
  &.XVI {
    background-image: url('../public/arcanas/Sprite-Slash.webp');
  }
  &.XVII {
    background-image: url('../public/arcanas/Sprite-Lost_&_Found_Painting.webp');
  }
  &.XVIII {
    background-image: url('../public/arcanas/Sprite-Boogaloo_of_Illusions.webp');
  }
  &.XIX {
    background-image: url('../public/arcanas/Sprite-Heart_of_Fire.webp');
  }
  // ! cspell: enable
}
