.character-wrapper {
  transition: all 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--oc-gray-7);
  }
  &.active {
    background-color: var(--oc-blue-9);
  }
}

// ! cspell: disable
$characterIds: (
  'Antonio',
  'Imelda',
  'Pasqualina',
  'Gennaro',
  'Arca',
  'Porta',
  'Lama',
  'Poe',
  'Clerici',
  'Dommario',
  'Krochi',
  'Christine',
  'Pugnala',
  'Giovanna',
  'Poppea',
  'Concetta',
  'Mortaccio',
  'Cavallo',
  'Ramba',
  'OSole',
  'Exdash',
  'Toastie',
  'RedDeath',
  'Leda'
);
// ! cspell: enable

.character {
  padding-top: 100%;
  background-size: cover;
  background-position: center;

  @each $characterId in $characterIds {
    &.#{$characterId} {
      background-image: url('../public/characters/#{$characterId}.webp');
    }
  }
}
