.item-list {
  width: 4rem;

  > div {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: var(--oc-gray-7);
    }
    &.disabled {
      background-color: var(--oc-red-9);
      opacity: 0.2;
    }
    &.active {
      background-color: var(--oc-blue-9);
    }
    &.fixed {
      background-color: var(--oc-violet-9);
    }
  }
}

// ! cspell: disable
$itemIds: (
  'Armor',
  'Attractorb',
  'Axe',
  'BloodyTear',
  'Bone',
  'Bracer',
  'Candelabrador',
  'Carrello',
  'CelestialDusting',
  'CherryBomb',
  'ClockLancet',
  'Clover',
  'CoinBag',
  'Cross',
  'Crown',
  'DeathSpiral',
  'Duplicator',
  'EbonyWings',
  'EightTheSparrow',
  'EmptyTome',
  'FireWand',
  'FloorChicken',
  'Garlic',
  'GattiAmari',
  'GoldCoin',
  'GorgeousMoon',
  'HeavenSword',
  'Hellfire',
  'HollowHeart',
  'HolyWand',
  'KingBible',
  'Knife',
  'LaBorra',
  'Laurel',
  'LightningRing',
  'MagicWand',
  'Mannajja',
  'NoFuture',
  'Normalbrazer',
  'Peachone',
  'Pentagram',
  'PhieraDerTuphello',
  'Phieraggi',
  'Pummarola',
  'RichCoinBag',
  'Runetracer',
  'SantaWater',
  'ShadowPinion',
  'SkullOManiac',
  'SongOfMana',
  'SoulEater',
  'Spellbinder',
  'Spinach',
  'StoneMask',
  'ThousandEdge',
  'ThunderLoop',
  'Tiragisu',
  'TreasureChest',
  'UnholyVespers',
  'ValkyrieTurner',
  'Vandalier',
  'ViciousHunger',
  'Whip',
  'Wings'
);
// ! cspell: enable

.item {
  width: 100%;
  min-width: 1rem;
  max-width: 3rem;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.available {
    border: 2px solid var(--oc-gray-6);
  }

  @each $itemId in $itemIds {
    &.#{$itemId} {
      background-image: url('../public/items/#{$itemId}.webp');
    }
  }
}
